@import "bootstrap/scss/variables";

.div__nav-menu {
    width: 50px;
    height: 40px;
}

// navbar-expand-lg

// button {
//     color: #5460E4;
// }

.img__button-notification {
    width: 2px;
    height: 2px;
}